{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Analisis: </h1>
<table class="dashboard-table">
  <colgroup>
    <col width="150">
    <col width="80">
    <col width="200">
    <col width="60">
    <col width="220">
    <col width="170">
  </colgroup>
  <thead>
    <tr>
      <th>Nombre <i class="fa fa-caret-down"></i></th>
      <th>Acciones <i class="fa fa-caret-down"></i></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
    {%for item in analises%}
    <tr>
      <td>
        <div class="flex-container align-justify align-top">
          <div class="flex-child-grow">
            <h6 class="dashboard-table-text">{{item.name}}</h6>
          </div>
        </div>
      </td>
        <td >
            <div class="flex-container align-top">
                <div class="flex-child">
                    <h6 class="dashboard-table-text"><a href="{{path('analisis_delete',{id:item.getId()})}}">Borrar</a></h6>
                    <h6 class="dashboard-table-text"><a href="{{path('analisis_edit',{id:item.getId()})}}">Editar</a></h6>
                </div> 
            </div>
        </td>
    </tr>
    {%endfor%}
  </tbody>
</table>
        <li>
            <a href="{{ path('analisis_new') }}">Crear un nuevo Analisis</a>
        </li>
    </ul>
{% endblock %}
